/* SatelliteEnvironmentStatus.css */

.satellite-environment-status {
    padding: 40px;
    margin: auto;
    max-width: 800px;
    background-color: #dcdee1;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .satellite-environment-status h2 {
    color: #0056b3;
  }
  
  .satellite-environment-status ul {
    list-style-type: none;
    padding: 0;
  }
  
  .satellite-environment-status li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
