.style-mission-elem-1 {
  padding: 10px 10px 10px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  height: auto;
  width: 100%;
  display: flex;
  margin-right: NaNpx;
  position: relative;
  background-color: (66, 72, 116);
}


.mission-elem-19 {
  padding: 1px 16px 1px 16px;
  flex-direction: column;
  height: auto;
  width: 100%;
  display: flex;
  margin-right: NaNpx;
  position: relative
}

.mission-elem-20 {
  padding: 80px 0px 80px 0px;
  flex-direction: column;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  max-width: 1300px;
  position: relative;
  display: flex;
  margin-right: auto
}

.mission-elem-21 {
  padding: 0px 0px 40px 0px;
  flex-direction: column;
  height: auto;
  width: 100%;
  display: flex;
  position: relative
}

.mission-elem-22 {
  font-family: Nunito Sans;
  font-size: 76px;
  font-weight: 600;
  color: #ffffff;
  line-height: 86px;
  padding: 0px 0px 20px 0px;
  opacity: 1;
  height: fit-content;
  display: block;
  min-height: 10px;
  min-width: 16px;
  position: relative;
  text-align: left;
}

.mission-elem-26 {
  flex-direction: column;
  background-image: url('../../assets/nebula-image.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  box-shadow: 0px 0px 18px 0px #0000001e;
  border-radius: 22px;
  border-width: 1px;
  border-style: solid;
  border-color: #00000038;
  z-index: 1;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  min-height: 500px;
  margin-right: NaNpx;
  max-width: none;
  position: relative
}
.mission-elem-27 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-left: auto;
  width: 100%;
  margin-right: auto;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  max-width: 1980px;
  position: relative
}
.mission-elem-28 {
  flex-direction: column;
  align-items: center;
  z-index: 1;
  display: flex;
  max-width: 1300px;
  height: fit-content;
  width: 100%;
}
.mission-elem-29 {
  flex-direction: column;
  z-index: 1;
  height: fit-content;
  width: 100%;
  display: flex;
  max-width: 1300px;
}
.mission-elem-31, .span-space-adventures {
  font-family: Kumbh Sans;
  font-size: 76px;
  font-weight: 500;
  color: #FFFFFF; 
  line-height: 86px;
  opacity: 100%;
  z-index: 1;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: block;
  position: relative;
  min-width: 16px;
  max-width: 1000px;
  min-height: 10px
}
.mission-elem-30 {
  font-size: 20px;
  opacity: 100%;
  font-weight: 400;
  font-family: Kumbh Sans;
  line-height: 30px;
  color: #ffffff;
  z-index: 1;
  position: relative;
  max-width: 600px;
  display: block;
  min-width: 16px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 10px;
  margin-top: 40px
}
.style-mission-elem-30 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.mission-update-elem-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.mission-update-elem-2, .mission-update-elem-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px;
}
.mission-update-elem-2 h2, .mission-update-elem-3 h2 { 
display: block; 
z-index: 1; 
width: fit-content; 
height: fit-content; 
margin: 0px; 
min-height: 10px; 
min-width: 16px; 
position: relative;
margin-top: 30px;
}


.mission-update-elem-2 img, .mission-update-elem-3 img {
display: block; 
width: 100%; 
height: 600px; 
margin: 0px; 
position: relative; 
max-width: none;
}

.mission-button {
  padding: 12px 26px;
  background-color: #DCD6F7;
  border-radius: 16px;
  border: 0; 
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #111;
  line-height: 26px;
  width: fit-content;
  height: fit-content;
  cursor: pointer; 
  outline: none; 
  margin-top: 30px;
  transition: background-color 0.3s ease; 
}

.mission-button:hover {
  background-color: #C5C0E5; 
}

.real-time-mission {
  margin-top: 89px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap; 
  gap: 20px;
}

.mission-text-content {
  flex: 1; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  padding: 20px; 
  text-align: center;
}

.mission-text-content h2 {
  font-size: 35px;
  color: #ffffff;
  margin-bottom: 16px; 
}

.mission-text-content p {
  font-size: 20px;
}

.mission-image-content {
  flex: 1; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.mission-image-content img {
  display: block;
  max-width: 100%; 
  max-height: 600px;
  width: auto; 
  height: auto; 
}
.mission-services-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px; 
  margin: 0 auto; 
  margin-top: 20px;
  padding: 20px; 
  gap: 40px; 
}

.mission-service {
  flex: 0 0 calc(33.333% - 40px);
  margin-bottom: 20px;
  text-align: left;
}

.mission-service h3 {
  font-size: 24px; 
  color: #ffffff;
  margin-bottom: 10px; 
}

.mission-service p {
  font-size: 16px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .real-time-mission {
    flex-direction: column;
    align-items: center; 
  }

  .mission-text-content,
  .mission-image-content {
    width: 100%; 
    padding: 0; 
  }

  .mission-image-content img {
    max-width: 100%;
    max-height: unset; 
  }
  .service {
    flex-basis: 100%; 
  }
}
@media (max-width: 1024px) {
  .service {
    flex-basis: 45%;
  }
}