.header-elem-7:hover,
.header-elem-8:hover,
.header-elem-9:hover {
  color: #eee;
  background-color: #00000019;
}

.header-elem-11:hover {
  background-color: #f4eeffff;
}
.header-elem-4:hover {
  background-color: #00000019;
}
.header-elem-1 {
  padding: 16px 16px 16px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 20px;
  min-width: 20px;
  position: relative;
  display: flex;
}

.header-elem-2 {
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  max-width: 1300px;
  position: relative;
}

.header-elem-3 {
  align-items: center;
  -moz-column-gap: 12px;
  column-gap: 12px;
  row-gap: 12px;
  z-index: 1;
  height: -moz-fit-content;
  height: fit-content;
  width: 33%;
  display: flex;
  position: relative;
}

.header-elem-4 {
  font-family: Kumbh Sans;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  line-height: 32px;
  opacity: 100%;
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
  min-height: 10px;
  min-width: 16px;
  position: relative;
}

.header-elem-5 {
  justify-content: center;
  z-index: 1;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 33%;
  position: relative;
}

.header-elem-6 {
  z-index: 150;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  position: relative;
}

.header-elem-7 {
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 600;
  color: #ffffffbf;
  line-height: 28px;
  padding: 12px 16px 12px 16px;
  border-radius: 10px 10px 10px 10px;
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
 
  min-height: 10px;
  min-width: 16px;
  position: relative;
}

.header-elem-8 {
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 400;
  color: #ffffffbf;
  line-height: 28px;
  padding: 12px 16px 12px 16px;
  border-radius: 10px 10px 10px 10px;
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
  min-height: 10px;
  min-width: 16px;
  position: relative;
}

.header-elem-9 {
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 400;
  color: #ffffffbf;
  line-height: 28px;
  padding: 12px 16px 12px 16px;
  border-radius: 10px 10px 10px 10px;
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
  min-height: 10px;
  min-width: 16px;
  position: relative;
}

.header-elem-10 {
  justify-content: flex-end;
  z-index: 1;
  height: -moz-fit-content;
  height: fit-content;
  width: 33%;
  display: flex;
  position: relative;
}

.header-elem-11 {
  padding: 12px 26px;
  background-color: #dcd6f7;
  border-radius: 16px;
  border-width: 0px;
  border-style: groove;
  border-color: #333;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: 600;
  color: #111 !important;
  line-height: 26px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: inline-block;
}

.header-elem-12 {
  width: 50px;
  height: 50px;
  min-height: 20px;
  min-width: 20px;
  display: none;
  position: relative;
}

@media (max-width: 767px) {
}

@media (max-width: 767px) {
  .header-elem-2 {
    padding: 0px 0px 0px 0px;
  }

  .header-elem-3 {
    width: fit-content;
  }

  .header-elem-5 {
    width: 100%;
  }

  .header-elem-6 {
    padding: 32px 16px 32px 16px;
    flex-direction: column;
    align-items: center;
    background-color: #424874;
    top: 50px;
    width: 100%;
    position: absolute;
  }

  .header-elem-7 {
    justify-content: center;
    width: 100%;
    
  }

  .header-elem-8 {
    justify-content: center;
    width: 100%;

  }

  .header-elem-9 {
    justify-content: center;
    width: 100%;
    
  }

  .header-elem-10 {
    width: fit-content;
  }

  .header-elem-12 {
    background-position: 50% 50%;
    background-size: 55% auto;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
  }
}

@media (max-width: 1199px) {
}

@media (max-width: 1199px) {
  .header-elem-12:hover {
    background-color: #00000019;
  }

  .header-elem-2 {
    padding: 0px 0px 0px 0px;
  }

  .header-elem-3 {
    width: fit-content;
  }

  .header-elem-5 {
    width: 100%;
  }

  .header-elem-6 {
    padding: 32px 16px 32px 16px;
    flex-direction: column;
    align-items: center;
    background-color: #9b9b9bff;
    display: none;
    top: 50px;
    width: 100%;
    position: absolute;
  }

  .header-elem-7 {
    justify-content: center;
    width: 100%;
   
  }

  .header-elem-8 {
    justify-content: center;
    width: 100%;
  
  }

  .header-elem-9 {
    justify-content: center;
    width: 100%;
  
  }

  .header-elem-10 {
    width: fit-content;
  }

  .header-elem-12 {
    background-position: 50% 50%;
    background-size: 55% auto;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
  }
}
