/* HistoricalDataPage.css */

.historical-data-page {
    padding: 20px;
    color: #d02828;
  }
  .solar-flare-chart h2 {
    margin-bottom: 30px;
  }

  .chart-container {
    margin-bottom: 30px;
  }
  .timeline-heading {
    margin-top: 30px;
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Add some space between the heading and the buttons */
  }
  .timeline-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .timeline-year {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #656667;
    cursor: pointer;
  }
  
  .timeline-year.selected {
    background-color: #0056b3;
    color: white;
    border-color: #0056b3;
  }
  