/* SpaceWeatherResources.css */

.space-weather-resources {
    padding: 20px;
    margin: 20px auto;
    max-width: flex;
    background-color: #a2a2a2;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .faqs .faq-item {
    margin-top: 15px;
    background-color: #918e8e;
    text-align: center;
  }
  
  .faq-question {
    background-color: transparent;
    border: 1px solid #e60707;
    text-align: left;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
  }
  
  .faq-question:hover {
    background-color: #586b7e;
  }
  
  .faq-answer{
    padding: 10px;
    background-color: #918e8e;
    border-radius: 5px;
    margin-top: 5px;
  }
  